openapi: 3.0.0
info:
  title: PipelineHub CI/CD Webhook Service
  version: 1.1.0
  description: |
    A production-deployed backend service that listens for repository events
    from GitHub, GitLab, and Bitbucket, verifies authenticity, and triggers
    CI/CD pipelines via secure webhooks.

servers:
  - url: https://pipelinehub.khakse.dev
    description: Production server
  - url: http://localhost:3000
    description: Local development server

paths:
  /webhook/{platform}:
    post:
      summary: Handle VCS webhook event
      description: |
        Accepts webhook events from GitHub, GitLab, or Bitbucket.
        Supported events include push, pull request, and merge.
      parameters:
        - in: path
          name: platform
          required: true
          schema:
            type: string
            enum: [github, gitlab, bitbucket]
          example: github

        - in: header
          name: X-GitHub-Event
          required: false
          schema:
            type: string
          example: push

        - in: header
          name: X-Hub-Signature-256
          required: false
          schema:
            type: string
          example: sha256=abc123...

        - in: header
          name: X-Gitlab-Event
          required: false
          schema:
            type: string
          example: Push Hook

        - in: header
          name: x-gitlab-token
          required: false
          schema:
            type: string
          example: supersecrettoken

        - in: header
          name: X-Event-Key
          required: false
          schema:
            type: string
          example: repo:push

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              repository:
                full_name: "gaura/devify"
              pusher:
                name: "gaura"
              head_commit:
                message: "Initial commit"

      responses:
        '200':
          description: Webhook processed or event ignored
        '401':
          description: Invalid signature or unauthorized request
        '500':
          description: Internal server error

  /webhook/status:
    get:
      summary: Get pipeline execution history
      description: Returns historical webhook events and pipeline trigger status.
      responses:
        '200':
          description: Status list returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        platform:
                          type: string
                        repository:
                          type: string
                        pusher:
                          type: string
                        message:
                          type: string
                        status:
                          type: string
                          enum: [triggered, failed]
                        receivedAt:
                          type: string
                          format: date-time
        '500':
          description: Server error
